body{
    background-color: rgb(255, 101, 101);
    color:white ;
}
.heading{
    width: 80%;
     font-size: 24px;
}
.name_of_objects{
    color: yellow;
}
#camera{
    border: 2px solid black;
    width: 350px;
    height: 300px;
}
#result_object_name, #result_object_accuracy{
    color: black;
}
